* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.account a {
    margin-left: 20px;
    text-decoration: none;
    color: orange;
    font-size: 18px;
}
.account img{
    padding: 1px;
    font-size: 18px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.cart::after {
    font-family: FontAwesome;
    margin-left: 8px;
}

.wishlist::after {
    font-family: FontAwesome;
    margin-left: 8px;
}

.mobile-menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        font-size: 70%;
    }

    .nav ul li {
        margin: 10px 0;
        text-align: center;
        font-size: 70%;
    }

    .account {
        display: none;
        font-size: 70%;
    }

    .mobile-menu-icon {
        display: block;
    }
}
@media  screen and (max-width:380px){
    html{
        font-size: 70%;
    }
}
.hero {
    /*background: url('images/b1.jpg') no-repeat center center/cover;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero-buttons .btn {
    text-decoration: none;
    color: yellow;
    background-color: #ff6f61;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
    background-color: #e65550;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }





.shop-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.shop-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    height: 60%;
}

.product-item h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.product-item p {
    font-size: 20px;
    color: #666;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: #fff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart:hover {
    background-color: #bbb;
}
.add-to-wishlist {
    background-color: #fff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    width: 80px;
    height: 80px;
}

.add-to-wishlist:hover {
    background-color: #bbb
}

.new-arrivals {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.new-arrivals h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.collections {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.collections h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.collection-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.collection-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.collection-item:hover {
    transform: scale(1.05);
}

.collection-item img {
    width: 100%;
    height: 50%;
}

.collection-item h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.view-collection {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.view-collection:hover {
    background-color: #555;
}

/* Base styles */
.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}

.about-content {
    flex: 1 1 60%;
    padding: 20px;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-content p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.about-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.about-image {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .about-content, .about-image {
        flex: 1 1 100%;
        text-align: center;
    }
    
    .about-image {
        order: 1; /* Ensures the image comes after the content */
        margin-top: 20px;
    }

    .about-content {
        order: 0; /* Ensures the content comes before the image */
    }

    .about-content .btn {
        margin-top: 20px;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .about-content h2 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }

    .about-content .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}






.contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px;
    background-color: lightgrey;
}

.contact-form {
    flex: 1;
    padding-right: 20px;
}

.contact-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form form {
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #555;
}

.contact-info {
    flex: 1;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.contact-info strong {
    font-weight: bold;
}


/*
@media (max-width: 768px) {
    .contact-form, .contact-info {
        flex: 1 1 100%;
        text-align: center;
    }
    
    .contact-info {
        order: 1; 
        margin-top: 20px;
    }

    .contact-form {
        order: 0; 
    }
}


@media (max-width: 480px) {
    .contact-form h2 {
        font-size: 1.5rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
        padding: 8px;
    }

    .contact-form .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .contact-info h3 {
        font-size: 1.2rem;
    }

    .contact-info p {
        font-size: 0.9rem;
    }
}
*/


/* Base styles 
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}

.contact-form {
    flex: 1 1 50%;
    padding: 20px;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    flex: 1 1 35%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}*/

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .contact-form, .contact-info {
        flex: 1 1 100%;
        text-align: center;
    }
    
    .contact-info {
        order: 1; /* Ensures the contact information comes after the form */
        margin-top: 20px;
    }

    .contact-form {
        order: 0; /* Ensures the form comes before the contact information */
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .contact-form h2 {
        font-size: 1.5rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
        padding: 8px;
    }

    .contact-form .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .contact-info h3 {
        font-size: 1.2rem;
    }

    .contact-info p {
        font-size: 0.9rem;
    }
}




.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.signin-form {
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.signin-form p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.signin-form p a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

.signin-form p a:hover {
    color: #555;
}


.cart {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
    /*background-color: white;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.cart-item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.cart-item p {
    font-size: 16px;
    color: #666;
}

.cart-total {
    margin-bottom: 20px;
}

.cart-total h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.checkout-btn {
    display: block;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.checkout-btn:hover {
    background-color: #555;
}

.wishlist {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
    /*background-color: #fff;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.wishlist h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.wishlist-items {
    margin-bottom: 20px;
}

.wishlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.wishlist-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.wishlist-item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.wishlist-item p {
    font-size: 16px;
    color: #666;
}

.clear-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.clear-btn:hover {
    background-color: #555;
}


.checkout {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.checkout h2 {
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
}
.order-info img {
    width: 100%;
}
.order-info, .checkout-form {
    width: 100%;
    padding: 30px;
    margin: 30px;
}
.checkout-form {
    background-color: rgba(186, 231, 242, 0.658);
}
.checkout-form h2 {
    color: #000;
}
.checkout-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.checkout-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.checkout-form button:hover {
    background-color: #0056b3;
}
.checkout-form img{
    padding: 10px;
}
.card-selection {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.card-selection p {
    margin-right: 10px;
}
.card-selection select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    background: url('dropdown-arrow.png') no-repeat right;
    background-size: 12px;
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .order-info, .checkout-form {
        width: 100%;
    }
}
.success-message {
    background: #fff;
    padding-top: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.success-message h1 {
    color: #5cb85c;
    margin-bottom: 20px;
}
.success-message p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #333;
}